




    <h1>検索結果</h1>
    <table>
        <% @users.each do |user| %>
        <thead>
            <tr>
                <th></th>
                <th><%= user.name %> </th>
            </tr>
        </thead>
        <% end %>
    </table>


    <table>
    <% @manngas.each do |mannga| %>
        <thead>
            <tr>
                <th></th>
                <th><%= mannga.name %></th>
            </tr>
        </thead>
    <% end %>
    </table>
