<div class="container">
    <div class="row">
    	<div class="font_z">likes <i class="glyphicon glyphicon-heart"style="color: red;"></i></div>

    	<table class="table">
			<thead>
				<tr>
					<th><h3>mannga_image</h3></th>
					<th><h3>mannga_title</h3></th>
					<th><h3>mannga_author</h3></th>
					<th></th>
					<th></th>
					<th colspan="3"></th>
				</tr>
			</thead>

			<tbody>
				<% @favorite_manngas.each do |mannga| %>
				<tr>

					<td> <%= attachment_image_tag mannga, :image, id: "preview", size: '150x150', fallback: "no_image.jpg" %></td>
					<td><%= link_to mannga_path(mannga) do %>
						<%= mannga.name%>
							<% end %>
						</td>
					<td><%= mannga.author%></td>
					<td></td>
					<td></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>